<section class="events" id="events">
  <div class="events__container">
    <div class="events__header" appReveal>
      <h2 class="events__heading">{{ content.eventsHeading() }}</h2>
    </div>

    <div class="events__grid">
      @for (event of content.events(); track event.title; let i = $index) {
        <div class="events__card" appReveal [delay]="i * 150">
          <div class="events__card-content">
            <img class="events__card-icon" [src]="event.icon" [alt]="event.title + ' icon'" width="28" height="28" />
            <h3 class="events__card-title">{{ event.title }}</h3>
            <p class="events__card-desc">{{ event.desc }}</p>
            <ul class="events__card-features">
              @for (feat of event.features; track feat) {
                <li>
                  <img src="images/icons/check-bullet.svg" alt="" width="20" height="20" />
                  {{ feat }}
                </li>
              }
            </ul>
          </div>
        </div>
      }
    </div>
  </div>
</section>
